
  .form{
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
    font-size: 22px;
    color: rgb(2, 44, 38);
   
}

.form_input{
    width: 50%;
    padding: 6px 20px;
    font-size: 13px;
}

/* .footer{
    text-align: center;
 
} */

input[type=submit] {
    width: 100%;
    
    background-color: hsla(187, 95%, 7%, 0.932);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }